
.bar{

	background-color: #f2f2f2;
}


.phone{
	padding: 12px 37px;
	font-weight: 600;
}

.section-2{

	background: url('assets/img/background.png') no-repeat ;



	}


	.main_text {


		color: rgb(204, 204, 204);
	}

	.main_text a{
		color: rgb(204, 204, 204);
	}


.text{

	padding-top: 20px;
	padding-bottom: 20px;
}