
.bar{

	background-color: #f2f2f2;
}


.phone{
	padding: 12px 37px;
	font-weight: 600;
}

.section-2{

	background: url('assets/img/background.png') no-repeat ;
justify-content: center;
    align-items: center;
    min-height: 670px;


	}



.section-3{

	
	justify-content: center;
    align-items: center;
    min-height: 650px;


	}


.main_text {


		color: rgb(204, 204, 204);
		padding-top: 50px;
	}

.main_text a{
		color: rgb(204, 204, 204);
	}



.image {

	/*padding:155px 0;*/
}

.text{

/*padding:155px 0;*/
}

a.learn-more{

	font-weight: 700;
	    border: 2px solid #ffc107;
	    margin-right: 16px;
}

a.quote{
border: 2px solid;

}